* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --bg-color: #000000;
    --bg-button-color: #1a1a1a;


    /* Text-Color variable */
    --primary-text-color: #f4f4f4;


    /* Padding Variable */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;


    /* Border-Radius Variable */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 25px;

}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-text-color);
    border-radius: var(--border-radius-m);
    padding: var(--padding-m) var(--padding-l);
    background-color: var(--bg-button-color);
}